
.insidecontainer{
    display: grid;
    grid-template-columns: auto auto auto ;
    background-color:yellow;
}

.container{
   background-color: white;
   margin: 50px;
   height: 400px;
   width: 380px;
   padding: 10px;
   text-align: center;
   border-radius: 25px;
}